@media only screen and (min-width: 0px) and (max-width: 567px){

.r2c1{
	padding-left:8px; 
	padding-top: 10px;
	font-size: 30px;
	padding-bottom:0px;
	
}
.banner{	
	padding-top:0px;
	padding-left:0px;
}

.im2{
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	background-size: auto 173px;							
	position: relative;
	width: 100%;
    height: 300px;
    border-radius: 10px;
    text-align:center;
	zoom:1;
}

.abts{
	font-size: 24px;
	text-align:center;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	padding-bottom:5px;
}

.abc{
	color: white;
	font-size: 24px;
	text-align:left;
	padding: 5px;
}


.cta p{
	color:#fff;
	font-size: 12px;
}


.abc{
	color: white;
	font-size: 24px;
	text-align:left;
	padding: 5px;
}



}


@media (min-width:1201px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media(max-width: 1200px) and (min-width:901px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px)  { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}
